/* Skills Container */

.skills-container .animation{
    padding: 50px 42px;
   
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
}
.chart figcaption {
    padding: 50px 52px;
    width: 200px;
    height: 200px;
    border: 20px solid rgba(67, 63, 59, 0.3);
    border-radius: 100px;
    line-height: 50px;
}
.chart img {
    position: absolute;
    max-width: 50px;
    max-height: 50px;
   
}
.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}
.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}
.outer{
    fill: transparent;
    stroke: #333;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
   
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* END Circle colors and graphic positions */
/* Set the initial values for the animation */

.chart[data-percent='90'] .outer1{
    stroke: #e34f26;
    stroke-dashoffset: 124;
    -webkit-animation: show100 2s 1s 4 alternate;
    animation: show100 2s 1s 4 alternate;
}
.chart[data-percent='90'] .outer2{
    stroke: #0d84ce;
    stroke-dashoffset: 130;
    -webkit-animation: show75 2s 1.5s 4 alternate;
    animation: show75 2s 1.5s 4 alternate;
    
}
.chart[data-percent='75'] .outer3{
    stroke: #f0e040;
    stroke-dashoffset: 115;
    -webkit-animation: show60 2s 2s 4 reverse;
    animation: show60 2s 2s 4 reverse;
}
.chart[data-percent='70'] .outer4{
    stroke: #83cd29;
    stroke-dashoffset: 206;
    -webkit-animation: show50 2s 2.5s 4 reverse;
    animation: show50 2s 2.5s 4 reverse;
}


@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 124;
    }
}
@keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 124;
    }
}
@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 130;
    }
}
@keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 130;
    }
}
@-webkit-keyframes show60 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 115;
    }
}
@keyframes show60 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 115;
    }
}
@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 206;
    }
}
@keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 206;
    }
}
/*Skills Chart styling p*/
.fa-paint-brush > p{
     font-size:12px;
     margin-top: 0px;
}
.fa-code {
    color:#e52030;
}
.fa-code > p {
     font-size:12px;
     margin-top: 0px;
     margin-left: -25px;
}
.fa-search {
    color:#fffa00;
}
.fa-search > p {
     font-size:12px;
     margin-top: 0px;
     
}
.fa-bar-chart-o {
    color:#ff9933;
}
.fa-bar-chart-o > p{
     font-size:12px;
     margin-top: 0px;
}
/*Typing Intro*/
		 .container.intro{
      display:flex;
      flex-direction:column;
      justify-content:center;
      width:80%;
      height:100%;
      margin:0 auto;
      text-align: center;
      }
    .logo_svg {
      margin-top: 5%;
      margin-bottom: 5%;
    }
    a {
      color:#6fc8f1;
      text-decoration:none;
      }
    .hello, h1 {
      font-size: inherit;
    }
    h1,h2,h4, span{
      
      font-family: 'planetium-x_bold_demoregular';
      font-variant: small-caps;
      font-weight: lighter;
      letter-spacing: 0.3em;

      }
    .caption{
      display:block;
      border-right:0;
      margin-bottom:10px;
      
    }
		@media (min-width: 768px) {
    body{
        font-size:16px;
        }
    .caption{
      animation:typing 4s steps(40,end) forwards;
      white-space:nowrap;
      width:0;
      overflow:hidden;
      }
      
  }
  .occupation{
      animation-delay:4s;
      }
    .past{
      animation-delay:6s;
      }
    .current{
      animation-delay:10s;
      }
  @media (min-width: 768px) {
    /*.social-media{*/
    /*  opacity:0;*/
    /*  -webkit-animation:fade-in 15s ease-in forwards;*/
    /*  animation:fade-in 15s ease-in forwards;*/
    /*  transform:translateY(100%);*/
    /*  margin-top: 0%;*/
    /*  }*/
      
    .intro {
      margin-bottom: 4%;
    }
  }
    .social-media-list a{
      color:#2ECC71;
      }
    @keyframes fade-in{
      from{
        opacity:0;
        transform:translateY(100%);
        }
      to{
        opacity:1;
        transform:translateY(0);
        }
    }
    @keyframes typing{
      from{
        width:0;
        border-right:3px solid #6fc8f1;
        }
      to{
        width:100%;
        border-right:0;
        }
    }
