@import url(https://fonts.googleapis.com/css?family=Lobster);
html,
body {
    width: 100%
}
* {
    box-sizing: border-box
}
body {
    padding: 0px;
    margin: 0px;
    
}
/*button to top*/
#topcontrol { 
    right: 15px;
}
.hero {
    position: relative;
    text-align: center;
}
.hero-content {
    display: block;
}
.parallax {
    display: block;
    text-align: center;
    padding: 10em 1em;
    color: white;
    overflow: hidden;
}
.parallax h1 {
    font-family: Roboto;
    font-size: 4em;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 15px;
    color: darkturquoise;
}
.parallax p {
    font-family: arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.nyc {
    background: url(../images/seattle_headers.jpg) no-repeat center center;
}
.parallaxis {
    padding: 0em 0em;
    height: 100vh;
}
/*  Canvas*/

#particles-js {
    margin-top: -420px;
    z-index: 9;
}
#myCanvas {
    margin: auto auto auto 20%;
    z-index: 99;
}
/*Tint header image*/

.hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(67, 63, 59, 0.5);
}
.madrid {
    background: url(../images/bg_apples.jpg) no-repeat center center;
    height: 100vh;
}
/*My skills styling*/
.paris {
    background: url(../images/bg_work.jpg) no-repeat center center;
    
    height: 100vh;
    
}
.paris h1{
  margin-left: -6%;
}
.paris p{
  margin-left: -6%;
}
.parallax.nyc.mount{
  background: url(../images/bg_mounts.jpg) no-repeat top center;
  
}
.exp {
  margin-top: -50px;
 
}
.spacer {
    display: block;
    color: #333;
    font-family: arial, sans-serif;
    padding: 3em 0;
    display: flex;
}
.spacer h3 {
    font-family: lobster, sans-serif;
    font-size: 2em;
    margin-bottom: 15px
}
.spacer p {
    font-family: Roboto;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
button {
    border: 1px solid #aaa;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    background: none;
    font-size: 1.25em;
    color: #555;
    vertical-align: top;
    font-variant: small-caps;
    box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
}
button:hover {
    background: #00ace9;
    color: white;
    border-color: #00ace9;
    cursor: pointer;
}
 .container {
    max-width: 1440px;
    margin: 0 auto;
   
}
.centered {
    text-align: center;
    padding-bottom: 3.75em
}
.cleft-wrapper {
    position: relative;
    top: -20px;
    top: -1.25rem;
    margin-bottom: -20px;
    margin-bottom: -1.25rem;
    left: 0;
    width: 100%;
    height: 20px;
    height: 1.25rem;
    z-index: 3;
    overflow: hidden;
}
.cleft-wrapper.top {
    background-color: #f0bb4b;
      -moz-animation:html-css 4s ease-out;
            -webkit-animation:top-line 2s ease-out;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
            background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
            background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
            background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
            background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
            background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
 @keyframes top-line { 0%  { width:0px;} 100%{ width:90%;}  }
.cleft-left,
.cleft-right {
    width: 50%;
    height: 20px;
    height: 1.25rem;
    background-color: #fff;
    position: absolute;
    top: 0;
}
.cleft-left {
    left: -24px;
    left: -1.5rem;
}
.cleft-right {
    right: -24px;
    right: -1.5rem;
    z-index: -1;
    background-color: transparent;
    left: 0;
}
.cleft-left:before,
.cleft-right:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.cleft-left:before {
    right: -24px;
    right: -1.5rem;
    border-width: 20px 0 0 24px;
    border-width: 1.25rem 0 0 1.5rem;
    border-color: transparent transparent transparent #fff;
}
.cleft-right:before {
    left: -24px;
    left: -1.5rem;
    border-width: 20px 24px 0 0;
    border-width: 1.25rem 1.5rem 0 0;
    border-color: transparent;
}
.carrotBox {
    position: relative
}
.carrot {
    display: block;
    height: 0;
    width: 0;
    border-top: 2em solid white;
    border-right: 50em solid transparent;
    border-left: 20em solid transparent;
    position: absolute;
    margin-left: -24px;
    margin-left: -1.5rem;
}
.carrot-top {
    border-top: 2em solid transparent;
    border-right: 50em solid transparent;
    border-left: 20em solid transparent;
    border-bottom: 2em solid white;
    position: absolute;
    margin-top: -50px;
    margin-left: -1.5rem;
}

/*image block skills*/

.large-window {
    min-height: 310px;
    min-width: 310px;
    background-image: url(../images/iamm.jpg);
    background-position: left 0px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    border-radius: 50%;
    position: relative;
}
.large-window .window-tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.large-window .promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2;
}
.large-window .promo-text strong {
    display: block;
    font-size: 30px;
}
.large-window .promo-text span {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
}
.large-window .promo-text .window-cta {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.large-window .promo-text .window-cta:hover {
    background: white;
    color: black;
}
.under_skills{
  position: absolute;
  border: solid 2px orange;
  margin-top: -20%;
  margin-left: 40%;
  padding: 0px 3px;
  
}
.under_skills > h1 {
  text-align: center;
  font-size: 2em;
}
.under_skills > p {
  text-align: center;
}
#before_expirence{
  padding: 0px 0px;
}
/* Scroll*/

.scroll-icon {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    text-align: center;
    z-index: 9999;
}
.scroll_second {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -4.5%;
    padding-top: 30px;
    text-align: center;
    z-index: 9999;
}
a {
    text-decoration: none;
}
.scroll-icon:before, .scroll_second:before{
    content: '\f103';
    color: darkturquoise;
    font-size: 50px;
    font-family: FontAwesome;
    position: relative;
    -webkit-animation: scroll 2.0s infinite ease-in-out;
    animation: scroll 2.0s infinite ease-in-out;
}
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        top: 0;
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 40px;
    }
}
@keyframes scroll {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        top: 0;
    }
   
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 40px;
    }
}
/*Timeline Container*/
.spacer-time {
  background: url(../images/dev_procs.jpg) no-repeat center center;  
}

.container-timeline {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  
}

.container-timeline > h1{
    font-family: Roboto;
    font-size: 3em;
    font-weight: 500;
    text-shadow: 0px 2px 5px darkturquoise;
    margin-bottom: 15px;
    color: darkturquoise;
    text-align: center;
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-timeline {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container-timeline {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-timeline:after, .container-timeline:before {
  content: '';
  display: table;
  clear: both;
}

/*Timeline*/

#timeline {
  position: relative;
  padding: 0em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline:before {
  /* this is the vertical line */
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 95%;
  width: 4px;
  background:  #f2f8fc; 
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #timeline:before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -3px;
}

.timeline-block .timeline-year.right strong{
  margin-left: 50px;
}

.timeline-block .timeline-year.left strong{
  margin-left: -75px;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1169px){
  .timeline-block .timeline-year{
   margin-left: 4px;
  }

  .timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
  }

  .timeline-block .timeline-year.left strong, .timeline-block .timeline-year.right strong {
    margin-left: -5px;
    margin-top: -40px;
    background: #fff;
  }

}

.timeline-year {
  position: absolute;
  top: 15px;
  left: 0;
  text-shadow: 2px 2px 5px #888888;
}

@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -26px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ebebeb;
  border-radius: 0.25em;
  padding: 1em;
 
   box-shadow: 1px 10px 15px #c1c1c1;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content {
  display: inline-block;
}
.timeline-content > p{
	font-size: 16px;
  text-transform: none;
}

.timeline-content:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right:10px solid #ebebeb;
}
 
.timeline-content .percent {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 300;
}

.timeline-content h6{
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0em;
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
  }

  .timeline-content:before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content:before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}

/* Data anime */

[data-anime] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .3s;
    transition: .3s;
}

[data-anime].animate {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

[data-anime-left] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    -webkit-transition: .3s;
    transition: .3s;
}

[data-anime-left].animate {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

[data-anime-right] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
    -webkit-transition: .3s;
    transition: .3s;
}

[data-anime-right].animate {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

/*Awesome font*/
.meetup:before {
    content: '\f0c0';
    color: #000;
    font-size: 50px;
    font-family: FontAwesome;
    text-shadow: 0px 3px 12px #f7f7f7;
}
.design:before {
    content: '\f044';
    color: darkturquoise;
    font-size: 50px;
    font-family: FontAwesome;
    text-shadow: 0px 0px 16px #fff;
}
.dev:before {
    content: '\f121';
    color: #cb3325;
    font-size: 50px;
    font-family: FontAwesome;
    text-shadow: 0px 0px 16px #fff;
}
.launch:before {
    content: '\f135';
    color: darkturquoise;
    font-size: 50px;
    font-family: FontAwesome;
    text-shadow:  -6px 7px 4px #f7f7f7;
}
.review:before {
    content: '\f1e5'; 
    color: #000;
    font-size: 50px;
    font-family: FontAwesome;
    text-shadow: 0px 7px 4px #f7f7f7;
}
/*Clients Feedback*/
.feedback {
    background: url(../images/feedbacks.jpg) no-repeat center center;
    height: 100vh;
}
.feedback > div h1 {
    margin-top: -10%;
}
.chart > .fa{
		    
			font-size: 48px;
		}
		
/*	Client Feedback*/
.testimonial-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.testimonials-wrapper {
  width: 95%;
  max-width: 500px;
  margin: 0 auto
}

.testimonials-wrapper h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  padding: 20px;
  color: #000;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
  box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
  border-radius: 100%
}

.testimonials-img {
  position: relative;
  left: 50%;
  overflow: hidden!important;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: -50px;
  box-shadow: 0px 0px 12px 10px rgb(239, 239, 239);
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.testimonial-carousel .active .testimonials-img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1);
          filter: brightness(1);
  margin-bottom: 5%;
  margin-top: 10%;
}

.testimonials-person-info {
  text-align: center;
  color: #fff;
}

.testimonials-blob {
  position: relative;
  left: 80%;
  width: 3px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff;
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff;
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff;
  }
}

.testimonial-carousel .active .testimonials-blob {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: anim linear .5s;
          animation: anim linear .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards
}

.testimonial-carousel {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab
}

.testimonial-carousel:active {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.testimonial-carousel .owl-item {
  overflow: hidden;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  -webkit-transform: scale(.7);
          transform: scale(.7);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.testimonial-carousel .owl-item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
  font-size: 16px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  padding: 0 10px;
  -webkit-transition: all ease-out .25s;
  transition: all ease-out .25s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #fff;
  box-shadow: none;
 
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
  color: #fff;
  background: #615e6b
}

.testimonial-carousel .owl-prev {
  left: 0
}

.testimonial-carousel .owl-next {
  right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
  

/*Footer*/

footer {
    height: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #222;
    line-height: 1.25;
    color: #eee;
    text-align: center;
    background: url(../images/bg.png) no-repeat center center;
   
}
footer h2 {
    padding-top: 10px;
    letter-spacing: 0.5em;
}
footer h4 {
    padding-top: 30px;
    padding-bottom: 200px;
}
#empty_footer_left{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 5%;
    margin-right: -10%;
    margin-top: 10%;

}
#footer_center{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
}
.form_container{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
/*		Styling Contact Form*/
	
	form {
    padding:10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
	background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    color:#fff;
    padding-left:15px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
.form_container{
	font-family: 'planetium-x_bold_demoregular';
    font-variant: small-caps;
    font-weight: lighter;
    letter-spacing: 0.3em;
	margin-top: 2%;
	margin-right: 5%;
}
.form_container h5{
	font-size: 1.2em;
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}
.form_container h6{
	font-size: .6em;
	line-height: 1.5em;
}
input {
    width: 100%;
    height: auto;
	background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    color:#fff;
    padding-left:15px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px #6fc8f1;
	  overflow: hidden; 
}

#contact-submit {
	 
	  height: auto;
	  border-radius: 4px;
	  border: 1px solid #253737;
   	background: rgba(255, 255, 255, 0.4);
    padding: 10.5px 21px;
    border-radius: 6px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #6fc8f1;
}

#contact-submit:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #6fc8f1;
    color: #fff;
 }

#contact-submit:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
    background: -webkit-linear-gradient(top, #416b68, #609391);
    background: -o-linear-gradient(top, #416b68, #6da5a3);
    background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }
   
/*   MAP Seattle  */

.location-name {
    position: absolute;
    z-index: 999;
    display: block;
    height: 28px;
	font-size: .7em;
	margin-top: -16.5%;
    margin-left: -4%;
}
.location-name span {
    display: block;
    height: 28px;
    padding: 0 10px;
	background: rgba(251, 164, 25, 0.5);
 box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    color: #fff;
    line-height: 28px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 5px 20px -5px rgba(11,27,38, 0.2);
}
.location-seattle .location-name:after {
    bottom: -20px;
    right: -49px;
    width: 58px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.location-name:after {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    height: 1px;
    width: 20px;
    background-color: #fff;
}
.location-pin {
    position: relative;
    z-index: 999;
    display: block;
    height: 12px;
    width: 12px;
	margin-top: -46%;
	margin-left: 15%;
}
.location-pin, .location-pin:after {
    background-color: #fba419;
    border-radius: 100%;
}
.location-pin:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    height: 22px;
    width: 22px;
    margin: -11px 0 0 -11px;
    -webkit-animation: pulsate 2s linear;
    animation: pulsate 2s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate{
  0% {
      -webkit-transform: scale(0);
      opacity: .05;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
  }
  20% {
      -webkit-transform: scale(0.7);
      opacity: .1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  }
  40% {
      -webkit-transform: scale(0.9);
      opacity: .2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  }
  60% {
      -webkit-transform: scale(1.1);
      opacity: .3;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
  100% {
      -webkit-transform: scale(1.4);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes pulsate{
  0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: .05;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
  }
  20% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: .1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  }
  40% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: .2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  }
  60% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      opacity: .3;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
  100% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
#usa_map {
	width: 130%;
}
/*SlideShow Projects*/
.container_slideshow {
   height: 500px;
   margin-top: -15%;
   position: absolute;
  z-index: 9999999999999999;
}

.photo {
  position: absolute;
  -webkit-animation: round 20s infinite;
          animation: round 20s infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@-webkit-keyframes round {
  20% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  
  40% {
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes round {
  20% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  
  40% {
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
	
figure:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

figure:nth-child(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

figure:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

figure:nth-child(4) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
figure:nth-child(5) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
figcaption {
	 color: black;
	 text-align: center;
}
#slide{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.container_slideshow{
	-webkit-box-flex:2;
	    -ms-flex:2;
	        flex:2;
}
#button_contact{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	text-align: -webkit-right;
	margin-right: 5%;

}
div#intro.spacer{
	background: url(../images/bg.png) no-repeat center center;
	color: #6fc8f1;
	
}
/*Media Queries*/
/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#particles-js {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#particles-js {
		height: 1024px;
	}
    .title h1 {
    font-size: 2em;
    margin-top: 60%;
}
}

@media only screen and (max-device-width : 425px) and (orientation : portrait) {
	#particles-js {
		height: 480px;
        
	}
    .carrot-top {
    border-right: 1.5em solid transparent;
    
    }
    .carrot {
    border-right: 5em solid transparent;
    
    }
    .title > h1 {
    font-size: 2em;
    margin-top: 60%;
}
    #mySkills, #slide {
        flex-direction:column;
        align-items: center;
    }
    .large-window {
    max-height: 310px;
    max-width: 310px;
    }
    #myCanvas {
    margin: 0%;
    max-width: 310px;
    }
    .under_skills {
    margin-top: -10%;
    margin-left: 5%;
    padding: 0px 3px;
    font-size: .7em;
    z-index: 9;
}
    .container_slideshow {
        flex:1;
    }
    figure > img {
        max-width: 310px;
      
    }
    .container_slideshow > figure {
        margin-left: -160px;
    }
    #button_contact {
        padding-top: 190px;
        padding-bottom: 0px;
    }
    .parallax-content > h1{
        font-size: 2.5em;
        padding-top: 1.5em;
    }
    .container-timeline > h1 {
        font-size: 2em;
        padding-top: 30px;
    }
    .mount {
        height: auto;
       
    }
    .exp {
  margin-top: -130px;
 
    }
    .scroll-icon {
        bottom: 40px;
    }
    .title {
        padding-top: 200px;
    }
/*logo not visiable in Mobile*/
    a #logo {
        visibility: hidden;
    }
    .feedback > div {
        margin-top: -200px;
    }
  
    .spacer-time {
        margin-bottom: -50px;
    }
    
    #usa_map {
    width: 180%;
    margin-top: 200px;
    
    }
    .location-name {
    margin-top: -120px;
    
}
    .location-pin {
    margin-top: -76%;
    margin-left: 13px;
}
.location-seattle .location-name:after {
    right: 31px;
    width: 34px;
    -webkit-transform: rotate(45deg);
    transform: rotate(90deg);
}
}
.icon {
    width: 24px;
    height: 24px;
    
}
#footer_center p:last-child{
        margin-top: -10px;
}
#footer_center {
        margin-left: -70px;
}

}
